ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.navright{
  float: right;
}
.green{
  color: rgba(116, 203, 80);
}
.gray{
  color: rgba(170, 170, 170);
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  position: relative;
  left: 10px;
}
.navbar{
  margin: 0 !important;
  padding: 0 !important;
  font-size: 40px !important;
}
p{
  font-size: 40px;
  height: 40px;
}
h1{
  font-size: 100px;
  height: 100px;
}
h2{
  font-size: 90px;
  height: 90px;
}
h3{
  font-size: 80px;
  height: 80px;
}
h4{
  font-size: 70px;
  height: 70px;
}
h5{
  font-size: 60px;
  height: 60px;
}
h6{
  font-size: 50px;
  height: 50px;
}
