ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.navbar li:not(.navright) {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #111111;
}

.navright {
  float: right;
}
}
* {
  font-family: Inter, sans-serif;
}
body {
  color: #222222;
  font-size: 16px;
  line-height: 1.6;
}
body:not(.navbar) {
  left: 10px;
  position: relative;
}
.navbar {
  font-size: 18px;
  position: static;
  left: 0px !important;
}
p { 
  font-size: 16px;
  margin-bottom: 14px;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}